.work-project
  .hero
    padding 140px 20px 64px 20px
  .work-section
    padding 64px 20px

  .page-subtitle
    max-width 460px
    text-align center
    margin 0 auto
    font-size 1.3em

  .subtitle
    color $dark

  .breaker
    color $pink
    font-family $bold

  .mediumy-image
    max-width 700px
    width 100%

  .biggish-image
    max-width 800px
    width 100%

  .bigger-image
    max-width 900px
    width 100%

  .biggy-image
    width 100%
    height 600px
    background-size cover
    background-repeat no-repeat
    background-position center center
    overflow hidden
    &.kiosk-1
      background-image url('../assets/airtasker-ikea/kiosk-1.jpg')
    &.kiosk-2
      background-image url('../assets/airtasker-ikea/kiosk-2.jpg')
    &.kiosk-3
      background-image url('../assets/airtasker-ikea/kiosk-3.jpg')
    &.aircon-1,
    &.aircon-2
      background-image url('../assets/aircon/aircon-1.png')
      background-size 800px auto
      background-color #28292D
    &.aircon-2
      background-image url('../assets/aircon/aircon-2.png')

  .aircon-3
    max-width 900px
