.bg-header
  position relative
  width 100%
  max-width 100%
  min-height 800px
  height 100%
  color $blue
  left 0
  display table
  @media screen and (max-width: $screen-xs-min)
    min-height: 400px
    height: auto

  .intro-text
    display table-cell
    vertical-align middle
    z-index 2
    position relative
    pointer-events none

.block-grey
  background-color lt-grey

#about-me
  background $blue
  color white
  position relative
  z-index 2

@keyframes pulse
  0%
    transform(translate(-30%, 0%))
  100%
    transform(translate(-30%, 5%))

@keyframes pulseMobile
  0%
    transform(translate(-40%, 15%))
  100%
    transform(translate(-40%, 20%))
