svg.footer-icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 192.63 192.63')
  title email
  g#Layer_1(data-name='Layer 1')
    path(d='M156.82,38.78h-121a24.52,24.52,0,0,0-24.49,24.5v66.07a24.52,24.52,0,0,0,24.49,24.5h121a24.53,24.53,0,0,0,24.5-24.5V63.28A24.53,24.53,0,0,0,156.82,38.78Zm13.87,22a14.83,14.83,0,0,1,.23,2.51v46.14L142,85ZM156.82,49.18a14,14,0,0,1,8.28,2.71l-64.24,54.28-.33.29a6,6,0,0,1-8.43,0l-.16-.15L27.53,51.89a14,14,0,0,1,8.28-2.71ZM22,60.77,50.61,85l-28.9,24.43V63.28A13.87,13.87,0,0,1,22,60.77Zm134.87,82.69h-121a14.12,14.12,0,0,1-14.1-14.11V123l37-31.22L84.92,114a16.39,16.39,0,0,0,22.79,0L134,91.8l37,31.22v6.33A14.12,14.12,0,0,1,156.82,143.46Z')
