#footer
  p.text-lg.bold Want to see more?
  p
    | Send me an email to get in touch,
    br
    | or have a snoop of more work below 

  .block-lg
    a.footer-link(href="mailto:aarti.dcruz@gmail.com", target="_blank")
      include _email
    a.footer-link(href="http://dribbble.com/aartichokes", target="_blank")
      include _dribbble
    a.footer-link(href="http://github.com/aartidcruz/", target="_blank")
      include _github
    a.footer-link(href="https://medium.com/@aartichokes", target="_blank")
      include _medium
    a.footer-link(href="https://medium.com/@aartichokes", target="_blank")
      include _spotify
  .divider
  .block-lg
    p.text-sm This website was designed and built by me.
    p.text-sm 
      | Copyright &copy; 
      span#currentYear
      | &nbsp;Aarti D'Cruz. All Rights Reserved.
      
