svg.footer-icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 192.63 192.63')
  title github
  g#Layer_1(data-name='Layer 1')
    path(d='M96.32,23.17A75,75,0,0,0,72.6,169.33c3.75.71,5.12-1.61,5.12-3.61,0-1.78-.06-6.5-.09-12.75-20.86,4.53-25.26-10.06-25.26-10.06-3.42-8.66-8.35-11-8.35-11-6.79-4.65.53-4.55.53-4.55,7.53.52,11.48,7.72,11.48,7.72,6.69,11.47,17.56,8.16,21.85,6.24.67-4.85,2.6-8.16,4.75-10C66,129.44,48.47,123,48.47,94.25a28.94,28.94,0,0,1,7.71-20.12c-.84-1.89-3.37-9.52.66-19.85,0,0,6.28-2,20.63,7.69A70.74,70.74,0,0,1,115,62c14.25-9.7,20.53-7.69,20.53-7.69,4,10.33,1.5,18,.75,19.85a29.05,29.05,0,0,1,7.68,20.12c0,28.82-17.53,35.16-34.21,37,2.62,2.25,5.06,6.85,5.06,13.88,0,10-.1,18.1-.1,20.54,0,2,1.32,4.31,5.16,3.56A74.91,74.91,0,0,0,96.32,23.17')
