.kablam
  svg.kablam-swirly.kablam-swirly-1(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 253 34')
    title Swirly
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path(d='M246,34c-11.76,0-17.91-7.2-22.4-12.46-4.23-4.95-6.67-7.54-11.75-7.54s-7.51,2.59-11.75,7.54C195.62,26.8,189.47,34,177.71,34s-17.91-7.2-22.4-12.46c-4.23-4.95-6.68-7.54-11.75-7.54s-7.51,2.59-11.74,7.54C127.33,26.8,121.18,34,109.42,34S91.51,26.8,87,21.54C82.79,16.59,80.35,14,75.28,14s-7.52,2.59-11.75,7.54C59.05,26.8,52.9,34,41.14,34s-17.91-7.2-22.4-12.46C14.51,16.59,12.07,14,7,14A7,7,0,0,1,7,0C18.76,0,24.91,7.2,29.39,12.46,33.62,17.41,36.07,20,41.14,20s7.51-2.59,11.74-7.54C57.37,7.2,63.51,0,75.28,0S93.19,7.2,97.67,12.46c4.24,4.95,6.68,7.54,11.75,7.54s7.52-2.59,11.75-7.54C125.66,7.2,131.8,0,143.56,0S161.47,7.2,166,12.46c4.23,4.95,6.67,7.54,11.75,7.54s7.51-2.59,11.75-7.54C193.94,7.2,200.09,0,211.85,0s17.91,7.2,22.4,12.46C238.48,17.41,240.93,20,246,20a7,7,0,0,1,0,14Z')

  svg.kablam-swirly.kablam-swirly-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 253 34')
    title Swirly
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path(d='M246,34c-11.76,0-17.91-7.2-22.4-12.46-4.23-4.95-6.67-7.54-11.75-7.54s-7.51,2.59-11.75,7.54C195.62,26.8,189.47,34,177.71,34s-17.91-7.2-22.4-12.46c-4.23-4.95-6.68-7.54-11.75-7.54s-7.51,2.59-11.74,7.54C127.33,26.8,121.18,34,109.42,34S91.51,26.8,87,21.54C82.79,16.59,80.35,14,75.28,14s-7.52,2.59-11.75,7.54C59.05,26.8,52.9,34,41.14,34s-17.91-7.2-22.4-12.46C14.51,16.59,12.07,14,7,14A7,7,0,0,1,7,0C18.76,0,24.91,7.2,29.39,12.46,33.62,17.41,36.07,20,41.14,20s7.51-2.59,11.74-7.54C57.37,7.2,63.51,0,75.28,0S93.19,7.2,97.67,12.46c4.24,4.95,6.68,7.54,11.75,7.54s7.52-2.59,11.75-7.54C125.66,7.2,131.8,0,143.56,0S161.47,7.2,166,12.46c4.23,4.95,6.67,7.54,11.75,7.54s7.51-2.59,11.75-7.54C193.94,7.2,200.09,0,211.85,0s17.91,7.2,22.4,12.46C238.48,17.41,240.93,20,246,20a7,7,0,0,1,0,14Z')


  svg.kablam-swirly.kablam-swirly-3(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 253 34')
    title Swirly
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path(d='M246,34c-11.76,0-17.91-7.2-22.4-12.46-4.23-4.95-6.67-7.54-11.75-7.54s-7.51,2.59-11.75,7.54C195.62,26.8,189.47,34,177.71,34s-17.91-7.2-22.4-12.46c-4.23-4.95-6.68-7.54-11.75-7.54s-7.51,2.59-11.74,7.54C127.33,26.8,121.18,34,109.42,34S91.51,26.8,87,21.54C82.79,16.59,80.35,14,75.28,14s-7.52,2.59-11.75,7.54C59.05,26.8,52.9,34,41.14,34s-17.91-7.2-22.4-12.46C14.51,16.59,12.07,14,7,14A7,7,0,0,1,7,0C18.76,0,24.91,7.2,29.39,12.46,33.62,17.41,36.07,20,41.14,20s7.51-2.59,11.74-7.54C57.37,7.2,63.51,0,75.28,0S93.19,7.2,97.67,12.46c4.24,4.95,6.68,7.54,11.75,7.54s7.52-2.59,11.75-7.54C125.66,7.2,131.8,0,143.56,0S161.47,7.2,166,12.46c4.23,4.95,6.67,7.54,11.75,7.54s7.51-2.59,11.75-7.54C193.94,7.2,200.09,0,211.85,0s17.91,7.2,22.4,12.46C238.48,17.41,240.93,20,246,20a7,7,0,0,1,0,14Z')


  svg.kablam-swirly.kablam-swirly-4(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 253 34')
    title Swirly
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path(d='M246,34c-11.76,0-17.91-7.2-22.4-12.46-4.23-4.95-6.67-7.54-11.75-7.54s-7.51,2.59-11.75,7.54C195.62,26.8,189.47,34,177.71,34s-17.91-7.2-22.4-12.46c-4.23-4.95-6.68-7.54-11.75-7.54s-7.51,2.59-11.74,7.54C127.33,26.8,121.18,34,109.42,34S91.51,26.8,87,21.54C82.79,16.59,80.35,14,75.28,14s-7.52,2.59-11.75,7.54C59.05,26.8,52.9,34,41.14,34s-17.91-7.2-22.4-12.46C14.51,16.59,12.07,14,7,14A7,7,0,0,1,7,0C18.76,0,24.91,7.2,29.39,12.46,33.62,17.41,36.07,20,41.14,20s7.51-2.59,11.74-7.54C57.37,7.2,63.51,0,75.28,0S93.19,7.2,97.67,12.46c4.24,4.95,6.68,7.54,11.75,7.54s7.52-2.59,11.75-7.54C125.66,7.2,131.8,0,143.56,0S161.47,7.2,166,12.46c4.23,4.95,6.67,7.54,11.75,7.54s7.51-2.59,11.75-7.54C193.94,7.2,200.09,0,211.85,0s17.91,7.2,22.4,12.46C238.48,17.41,240.93,20,246,20a7,7,0,0,1,0,14Z')


  svg.kablam-a.kablam-a-1(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 156.19 182.57')
    title A
    g.cls-1
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          path.cls-2(d='M5.49,182.41A4.21,4.21,0,0,1,.1,177.34L34.94,4.16A4.83,4.83,0,0,1,38.26.66L40.57.1a4.84,4.84,0,0,1,4.55,1.6l110,138.23a4.2,4.2,0,0,1-2.48,7Z')
  
  svg.kablam-a.kablam-a-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 156.19 182.57')
    title A
    g.cls-1
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          path.cls-2(d='M5.49,182.41A4.21,4.21,0,0,1,.1,177.34L34.94,4.16A4.83,4.83,0,0,1,38.26.66L40.57.1a4.84,4.84,0,0,1,4.55,1.6l110,138.23a4.2,4.2,0,0,1-2.48,7Z')
  
  svg.kablam-a.kablam-a-3(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 156.19 182.57')
    title A
    g.cls-1
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          path.cls-2(d='M5.49,182.41A4.21,4.21,0,0,1,.1,177.34L34.94,4.16A4.83,4.83,0,0,1,38.26.66L40.57.1a4.84,4.84,0,0,1,4.55,1.6l110,138.23a4.2,4.2,0,0,1-2.48,7Z')
  
  svg.kablam-a.kablam-a-4(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 156.19 182.57')
    title A
    g.cls-1
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          path.cls-2(d='M5.49,182.41A4.21,4.21,0,0,1,.1,177.34L34.94,4.16A4.83,4.83,0,0,1,38.26.66L40.57.1a4.84,4.84,0,0,1,4.55,1.6l110,138.23a4.2,4.2,0,0,1-2.48,7Z')


  svg.kablam-d.kablam-d-1(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 181 186.06')
    title D
    g.cls-1
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          path.cls-2(d='M89.22,184.1a4.49,4.49,0,0,1-6.12,1.24L35.5,151.82A83.86,83.86,0,0,1,15.25,35.12C41.62-2.33,94-11.25,131.66,15.26l47.6,33.52a4.48,4.48,0,0,1,.9,6.18Z')

  svg.kablam-d.kablam-d-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 181 186.06')
    title D
    g.cls-1
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          path.cls-2(d='M89.22,184.1a4.49,4.49,0,0,1-6.12,1.24L35.5,151.82A83.86,83.86,0,0,1,15.25,35.12C41.62-2.33,94-11.25,131.66,15.26l47.6,33.52a4.48,4.48,0,0,1,.9,6.18Z')

  svg.kablam-d.kablam-d-3(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 181 186.06')
    title D
    g.cls-1
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          path.cls-2(d='M89.22,184.1a4.49,4.49,0,0,1-6.12,1.24L35.5,151.82A83.86,83.86,0,0,1,15.25,35.12C41.62-2.33,94-11.25,131.66,15.26l47.6,33.52a4.48,4.48,0,0,1,.9,6.18Z')

  svg.kablam-d.kablam-d-4(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 181 186.06')
    title D
    g.cls-1
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          path.cls-2(d='M89.22,184.1a4.49,4.49,0,0,1-6.12,1.24L35.5,151.82A83.86,83.86,0,0,1,15.25,35.12C41.62-2.33,94-11.25,131.66,15.26l47.6,33.52a4.48,4.48,0,0,1,.9,6.18Z')

  svg.kablam-circle.kablam-circle-1(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 74 74')
    title Circle
    g.cls-1
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          circle.cls-2(cx='37', cy='37', r='37')

  svg.kablam-circle.kablam-circle-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 74 74')
    title Circle
    g.cls-1
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          circle.cls-2(cx='37', cy='37', r='37')

  svg.kablam-circle.kablam-circle-3(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 74 74')
    title Circle
    g.cls-1
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          circle.cls-2(cx='37', cy='37', r='37')

  svg.kablam-circle.kablam-circle-4(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 74 74')
    title Circle
    g.cls-1
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          circle.cls-2(cx='37', cy='37', r='37')
