svg.kablam-swirly(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 253 34')
  title Swirly
  g#Layer_2(data-name='Layer 2')
    g#Layer_1-2(data-name='Layer 1')
      path(d='M246,34c-11.76,0-17.91-7.2-22.4-12.46-4.23-4.95-6.67-7.54-11.75-7.54s-7.51,2.59-11.75,7.54C195.62,26.8,189.47,34,177.71,34s-17.91-7.2-22.4-12.46c-4.23-4.95-6.68-7.54-11.75-7.54s-7.51,2.59-11.74,7.54C127.33,26.8,121.18,34,109.42,34S91.51,26.8,87,21.54C82.79,16.59,80.35,14,75.28,14s-7.52,2.59-11.75,7.54C59.05,26.8,52.9,34,41.14,34s-17.91-7.2-22.4-12.46C14.51,16.59,12.07,14,7,14A7,7,0,0,1,7,0C18.76,0,24.91,7.2,29.39,12.46,33.62,17.41,36.07,20,41.14,20s7.51-2.59,11.74-7.54C57.37,7.2,63.51,0,75.28,0S93.19,7.2,97.67,12.46c4.24,4.95,6.68,7.54,11.75,7.54s7.52-2.59,11.75-7.54C125.66,7.2,131.8,0,143.56,0S161.47,7.2,166,12.46c4.23,4.95,6.67,7.54,11.75,7.54s7.51-2.59,11.75-7.54C193.94,7.2,200.09,0,211.85,0s17.91,7.2,22.4,12.46C238.48,17.41,240.93,20,246,20a7,7,0,0,1,0,14Z')
