#nav-top
  a.nav-prev.link-blue(href="/projects/#{prevURL}") prev
  a.nav-next.link-blue(href="/projects/#{nextURL}") next

#nav-bottom
  a.nav-prev(href="/projects/#{prevURL}") prev
  a.nav-next(href="/projects/#{nextURL}") next
