svg.kablam-circle(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 74 74')
  defs
    style.
      .cls-1{isolation:isolate;}.cls-2{mix-blend-mode:multiply;}
  title Circle
  g.cls-1
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        circle.cls-2(cx='37', cy='37', r='37')
