svg.kablam-d(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 181 186.06')
  defs
    style.
      .cls-1{isolation:isolate;}.cls-2{mix-blend-mode:multiply;}
  title D
  g.cls-1
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        path.cls-2(d='M89.22,184.1a4.49,4.49,0,0,1-6.12,1.24L35.5,151.82A83.86,83.86,0,0,1,15.25,35.12C41.62-2.33,94-11.25,131.66,15.26l47.6,33.52a4.48,4.48,0,0,1,.9,6.18Z')
