svg.footer-icon(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 192.63 192.63')
  title dribbble
  g#Layer_1(data-name='Layer 1')
    path(d='M96.32,171.32a75,75,0,1,1,75-75A75.1,75.1,0,0,1,96.32,171.32Zm63.25-64.74a93.89,93.89,0,0,0-39.9-2.74,278.16,278.16,0,0,1,12.45,45.68,64.24,64.24,0,0,0,27.46-42.94Zm-38.22,48.8a266.76,266.76,0,0,0-13.69-48.56l-.41.12c-36.19,12.59-49.13,37.66-50.25,40a63.87,63.87,0,0,0,64.31,8.45ZM48.72,139.25c1.45-2.5,19-31.59,52.08-42.28.84-.28,1.68-.52,2.53-.75-1.63-3.65-3.38-7.29-5.2-10.87-32,9.56-63,9.15-65.84,9.09l0,2a63.82,63.82,0,0,0,16.46,42.84Zm-15.12-56a237.48,237.48,0,0,0,59.23-7.8A409.61,409.61,0,0,0,69.08,38.43,64.24,64.24,0,0,0,33.6,83.25ZM81.32,34.14a342.77,342.77,0,0,1,23.88,37.5c22.78-8.53,32.44-21.5,33.58-23.14A63.67,63.67,0,0,0,96.32,32.34a64.49,64.49,0,0,0-15,1.78Zm64.59,21.77c-1.36,1.81-12.09,15.58-35.78,25.25,1.5,3.06,2.94,6.16,4.25,9.29.5,1.12.94,2.25,1.38,3.31,21.31-2.69,42.5,1.62,44.62,2.06A63.39,63.39,0,0,0,146,56Z')
