#footer
  p.text-lg.bold Want to see more?
  p
    | Shoot me an email to get in touch,
    br
    | or view more of my work on dribbble/github!

  .block-lg
    a.footer-link(href="mailto:aarti.dcruz@gmail.com", target="_blank")
      include email
    a.footer-link(href="http://dribbble.com/aartichokes", target="_blank")
      include dribbble
    a.footer-link(href="http://github.com/aartidcruz/", target="_blank")
      include github
  .divider
  .block-lg
    p.text-sm This website was designed and built by me.
    p.text-sm Copyright &copy; 2018 Aarti D'Cruz. All Rights Reserved.
