.kablam
  include swirly
  include swirly
  include swirly
  include swirly
  include a
  include a
  include a
  include a
  include d
  include d
  include d
  include d
  include circle
  include circle
  include circle
  include circle
