#footer
  clear both

.bg-header
  background-image url("/assets/img/bg-header.png")
  background-repeat no-repeat 
  background-size cover
  background-position left center
  height 100%
  width 100%
  color white
  position relative
  display table
  .intro-text
    display table-cell
    vertical-align middle
    z-index 2
    position relative
    pointer-events none

.scroll-to 
  position relative

.right
  img 
    max-width 170px

.rocket-moon
  position absolute
  left 0
  bottom 0
  width 100%
  
.rocket,
.moon
  position absolute
  left 0
  
.moon
  bottom -4em
  
.rocket
  bottom 13em
  
.rocket
  width 30%
  max-width 230px
  z-index: 1
  transition(all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000))
  transition-timing-function(cubic-bezier(0.645, 0.045, 0.355, 1.000))
    
.moon
  width 37%
  max-width 400px
  min-width 230px
  transition(all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000))
  transition-timing-function(cubic-bezier(0.645, 0.045, 0.355, 1.000))
  
.go-down
  cursor pointer
  border-radius 50%
  background transparentify(white, 0.2)
  width 5em
  height 5em 
  border 0.1em solid white 
  position absolute
  bottom 2em
  left 50%
  transform translate(-50%, 0)
  transition(all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000))
  animation(bouncy 1200ms infinite)
  
  &:before 
    content ''
    position relative
    border-style solid
    border-width 0.1em 0.1em 0 0
    display inline-block
    height 1.45em
    width 1.45em
    top 1.25em
    left 0.15em
    transform(rotate(-45deg))
    vertical-align top
    transform(rotate(135deg))
    

@keyframes bouncy
  0%
    transform(translate(-50%, 0))
  30% 
    transform(translate(-50%, 10px))
  100% 
    transform(translate(-50%, 0))


