#footer
  clear both

.bg-header
  background-image url("/assets/img/bg-header.png")
  background-repeat no-repeat 
  background-size cover
  background-position left center
  width 100%
  min-height 800px
  color white
  position relative
  display table
  &:after 
    content ''
    height 100px 
    z-index -1
    background-color #2C3A48
    position absolute
    bottom -70px
    right -10px
    left -10px
    transform rotate(3deg)
        
  .intro-text
    display table-cell
    vertical-align middle
    z-index 2
    position relative
    pointer-events none


.right
  img 
    max-width 170px

.rocket-moon
  position absolute
  left 0
  bottom 0
  width 100%
  
.rocket,
.moon
  position absolute
  left 0
  
.moon
  bottom -4em
  
.rocket
  bottom 13em
  
.rocket
  width 30%
  max-width 230px
  z-index  1
  transition(all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000))
  transition-timing-function(cubic-bezier(0.645, 0.045, 0.355, 1.000))
    
.moon
  width 37%
  max-width 400px
  min-width 230px
  transition(all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000))
  transition-timing-function(cubic-bezier(0.645, 0.045, 0.355, 1.000))

.section-scroll
  position fixed
  top 0
  left 0
  width 100%
  height 100%

.section-scrollnth-child(2) 
  overflow hidden
