#footer
  color white
  clear both
  padding 50px
  background-color $blue

  .footer-link
    display inline-block
    transition(all 400ms)
    &:hover
      transform(scale(1.05))

    @media screen and (max-width: $screen-sm-min)
      img
        width 50px

  img
    width 70px
    margin 0 10px

  .divider
    width 50px
    margin-left auto
    margin-right auto
    border-top 2px solid rgba(255, 255, 255, 0.5)
