#footer
  color white
  clear both
  padding 50px
  background-color $blue

  .footer-link
    display inline-block
    transition(all 400ms)
    &:hover
      transform(scale(1.05))
      
  .footer-icon
    width 50px
    margin 0 5px
    fill $green
    transition(all 400ms)
    &:hover
      -webkit-filter drop-shadow(4px 10px 7px rgba(44,58,72,0.6))
    
  .divider
    width 50px
    margin-left auto
    margin-right auto
    border-top 6px solid $pink
