random(min, max)
  return floor( math(0, "random") * max + min )

.kablam-swirly
  transform: translate(random(-500, 500)px, random(-500, 500)px)

.kablam-container
  display block
  position relative
.kablam
  svg
    left 50%
    top 50%
    width 20px
    position absolute
    transform(translate(-50%, -50%))
    z-index 6

  .kablam-swirly
    width 50px
