doctype
html

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="icon" type="image/png" href="/assets/img/favicon.png?2")
    link(rel="stylesheet" href="/styles/main.css")
    link(href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic|Amaranth:700' rel='stylesheet' type='text/css')
    script(type="text/javascript" src="/js/jquery.js")
    script(type="text/javascript" src="/js/ScrollMagic.js")
    script(type="text/javascript" src="/js/main.js")

    title
      block title
        | Aarti D'Cruz &middot; UI Designer & Developer

  body
    != yield


  footer.panel.block-navy
    #footer
      p.text-lg.amaranth Want to see more?
      p
        | Shoot me an email to get in touch,
        br
        | or view more of my work on dribbble!
    
      .block-lg
        a.footer-link(href="mailto:aarti.dcruz@gmail.com", target="_blank"): img(src="/assets/img/email.png")
        a.footer-link(href="http://dribbble.com/aartichokes", target="_blank"): img(src="/assets/img/dribbble.png")
        
      .divider
    
    .block-dark.block-lg
      p.text-sm This website was designed and built by me.
      p.text-sm Copyright &copy; 2015 Aarti D'Cruz. All Rights Reserved.
