include /components/_logomark

.container.table
  .block-ver-xl
    .row.table-cell.text-left
      .col-sm-12.block-lg
        h1.blue.block-ver-lg About me
        img.mediumy-image(src="/assets/me.png" width="300")
              
      .col-sm-12.block-lg
        .about-me-desc
          p.text-md
            | I’m an Aussie product designer / dev living in London. 
            br
            | Currently I'm at 
            a.link-pink(href="https://open.spotify.com/" target="_blank") Spotify.
            br
            br
            | I'm passionate about creating experiences that feel seamless, beautiful, and 
            i just work&nbsp;
            | - while balancing user / business needs.
            | I genuinely love bringing motion into my process to ensure I'm thinking about the whole picture
            | and being a fairly straightforward person, you won't ever find me speaking in jargon-y design terms.
            | I'll bring the whole squad into design decisions (queue warm fuzzy feelings ❤️)
            br
            br
            | In my spare time, I 
            a.link-pink(href="https://open.spotify.com/artist/05nGapSYJek0fxCWnzaNUF?si=96e70YLRQO29t3rp13apsA" target="_blank") create music 
            |  in my bedroom, ride my bike around London's parks and watch terrible 
            | tv shows on netflix like a regular human 😎

include /components/_footer
