- var prevURL = "/airtasker-ikea"
- var nextURL = "/airtasker-product"
include /components/logomark
include /components/nav

.work-project
  .hero
    .container.table
      .row.table-cell
        .col-sm-12.block-lg
          h1 Aircon
          p.subtitle.text-lg
            | Every year Airtasker has an offsite named Aircon where we review 
            | our year and look forward to the next year. I did the logo for 
            | 2016 using the concept that we’d really taken off that year.

          p.breaker.breaker-single Logo design

  .biggy-image.aircon-1
  img.mediumy-image.block-ver-xl(src="/assets/aircon/shirts.png")

  .block-xl
    h3.blue Exploration
    p.subtitle Logo development + colour exploration
  
  .biggy-image.aircon-2
  img.mediumy-image.block-ver-xl.aircon-3(src="/assets/aircon/aircon-3.png")

include /components/footer
