include /components/logomark

.nav
  a.nav-prev.link-green(href="/airtasker-product") prev
  a.nav-next.link-green(href="/airtasker-ikea") next

.work-project
  .hero
    .container.table
      .row.table-cell
        .col-sm-12.block-lg
          h1 Airtasker  ⃓ Brand
          p.subtitle.text-lg
            | My two years at Airtasker consisted of both digital and product design, as well as front end development. I was lucky enough to  have eperienced a few teams as a product designer - partnerships, payments and global - which enabled me to move to London to help launch Airtasker internationally.

          p.breaker Brand design
          p.breaker Front-end


  .block-xl
    h3.blue Browse tasks redesign
    p.page-subtitle Our browse tasks page hadn’t been redesigned in 3 years, we were starting update other aspects of the site and decided to finally update our UI to match.

  img.mediumy-image.block-ver-xl(src="/assets/aircon/shirts.png")


include /components/footer
