include /components/logomark

.nav
  a.nav-prev.link-green(href="/airtasker-product") prev
  a.nav-next.link-green(href="/airtasker-ikea") next

.work-project
  .hero
    .container.table
      .row.table-cell
        .col-sm-12.block-lg
          h1 Airtasker  ⃓ Brand
          p.subtitle.text-lg
            | My two years at Airtasker consisted of both digital and product design, as well as front end development. I was lucky enough to  have eperienced a few teams as a product designer - partnerships, payments and global - which enabled me to move to London to help launch Airtasker internationally.

          p.breaker Brand design
          p.breaker Front-end


  .block-xl
    h3.blue Like a Boss campaign
    p.page-subtitle Print + Landing page for the launch of our first advertising campaign.

  img.mediumy-image.shadow(src="/assets/airtasker-brand/like-a-boss.jpg")
  img.bigger-image.shadow.block-ver-xl(src="/assets/airtasker-brand/like-a-boss-ads.png")


include /components/footer
