- var prevURL = "/aircon"
- var nextURL = "/airtasker-brand"
include /components/_logomark
include /components/_nav

.work-project
  .hero
    .container.table
      .row.table-cell
        .col-sm-12.block-lg
          h1 Airtasker  ⃓ Product
          p.subtitle.text-lg
            | My two years at Airtasker consisted of both digital and product design, as well as front end development. I was lucky enough to  have eperienced a few teams as a product designer - partnerships, payments and global - which enabled me to move to London to help launch Airtasker internationally.

          p.breaker Product design
          p.breaker Front-end


  .block-xl
    h3.blue Browse tasks redesign
    p.page-subtitle Our browse tasks page hadn’t been redesigned in 3 years, we were starting update other aspects of the site and decided to finally update our UI to match.

  .block-ver-xl
    p.text-md.blue Old UI
    img.biggish-image.block-ver-lg.shadow(src="/assets/airtasker-product/browse-tasks-old.jpg")
  
  .block-ver-xl
    p.text-md.blue New browse tasks cards
    img.biggish-image.block-ver-lg.shadow(src="/assets/airtasker-product/browse-tasks-new.jpg")
  
  .block-ver-xl
    p.text-md.blue New my tasks cards
    img.biggish-image.block-ver-lg.shadow(src="/assets/airtasker-product/my-tasks-new.jpg")
  
  .block-ver-xl
    p.text-md.blue All task states
    img.biggish-image.block-ver-lg.shadow(src="/assets/airtasker-product/task-states.jpg")



include /components/_footer
