
.panel.section.works
  .container-fluid.block-lg
    h3 Other works
    .shots
      a.col-lg-4.col-sm-6.dribbble-shot(href="https://dribbble.com/shots/4521321-Like-Dislike", target="_blank")
        img(src="https://cdn.dribbble.com/users/933589/screenshots/4521321/heart.gif" alt="heart")

      a.col-lg-4.col-sm-6.dribbble-shot(href="https://dribbble.com/shots/4466531-Monster-pegs", target="_blank")
        img(alt="monster pegs" src="https://cdn.dribbble.com/users/933589/screenshots/4466531/artboard_2_copy_1x.jpg")

      a.col-lg-4.col-sm-6.dribbble-shot(href="https://dribbble.com/shots/3814325-Space-Pupper", target="_blank")
        img(src="https://cdn.dribbble.com/users/933589/screenshots/3814325/space-pupper.gif" alt="Space pupper")

      a.col-lg-4.col-sm-6.dribbble-shot(href="https://dribbble.com/shots/3750062-Paddle-Pop-Love", target="_blank")
        img(src="https://cdn.dribbble.com/users/933589/screenshots/3750062/paddlepop-love.gif" alt="Paddple pop love")

      a.col-lg-4.col-sm-6.dribbble-shot(href="https://dribbble.com/shots/3711377-What-if-it-rained-oranges", target="_blank")
        img(src="https://cdn.dribbble.com/users/933589/screenshots/3711377/oranges.png" alt="Raining oranges")

      a.col-lg-4.col-sm-6.dribbble-shot(href="https://dribbble.com/shots/2930286-Airtasker-Earn-Money-Illustrations", target="_blank")
        img(alt="Earn money" src="https://cdn.dribbble.com/users/933589/screenshots/2930286/earn-money-gif.gif")

      a.col-lg-4.col-sm-6.dribbble-shot(href="https://dribbble.com/shots/2775583-Skills-Icons", target="_blank")
        img(alt="Skillz" src="https://cdn.dribbble.com/users/933589/screenshots/2775583/website-icons.png")

      a.col-lg-4.col-sm-6.dribbble-shot(href="https://dribbble.com/shots/2735715-Academy-Blog", target="_blank")
        img(alt="Ed blog" src="https://cdn.dribbble.com/users/933589/screenshots/2735715/academy3.gif")

      a.col-lg-4.col-sm-6.dribbble-shot(href="https://dribbble.com/shots/2730682-Portfolio-Website", target="_blank")
        img(alt="Aarti D'Cruz old portfolio" src="https://cdn.dribbble.com/users/933589/screenshots/2730682/portfolio5.gif")
