include /templates/components/mixins

.bg-header.panel
  .intro-text.block-hor-lg#scene-1
    p.text-md.block-ver-lg Hi, I'm
    include templates/components/name
    h1.hide Aarti D'Cruz, UI/UX Designer and Developer

    p.text-md.block-ver-lg.subtitle
      | I'm a girl, who also
      br
      | happens to design and code.

    img.me(src="/assets/img/me.png")

  .rocket-moon
    //- img.rocket(src="/assets/img/rocket.png")
    img.moon(src="/assets/img/moon.png")

#about-me.section.panel
  .container.table
    .row.table-cell
      .col-sm-12.block-lg.text-left
        h2.text-orange.text-xxl.title About me

        p.text-md.about-me-desc
          | I’m a UI/UX designer and front end developer who lives in Sydney. 
          | With 2 and a half years under my belt at&nbsp;
          a(href="http://www.creativelicencedigital.com/", target="_blank") 
            | Creative Licence Digital
          | , I’ve had the opportunity to learn how to create beautiful and 
          | practical interfaces, as well as coding with radtastic 
          | languages such as sass, jade and js. I also enjoy illustration, and 
          | animation! In my spare time, I play guitar and watch terrible tv 
          | shows on netflix like a regular person.


        .text-center.block-ver-xl
          .col-sm-3.col-xs-6.skill
            img(src="/assets/img/1.png")
            p Coding
          .col-sm-3.col-xs-6.skill
            img(src="/assets/img/2.png")
            p Design
          .col-sm-3.col-xs-6.skill
            img(src="/assets/img/3.png")
            p Animation
          .col-sm-3.col-xs-6.skill
            img(src="/assets/img/4.png")
            p User Experience
            
+work-tile(
  "edapp.com",
  "edapp.com is a website to promote Ed LMS, another App created at Creative "+ 
  "Licence Digital. I was given the brief to improve the user experience of the "+ 
  "site and to encourage visitors to try out Ed. I designed and did the front "+
  "end for this website as well as the icons and creating the video in the header.",
  "edapp.png",
  "desktop",
  "Front-end + Design + UX",
  "http://www.edapp.com/",
  "View Live")

+work-tile("Network Ten Media Website", "This site was created for Network Ten, "+
"the brief was to re-design their internal media website and make it more user friendly. "+
"The design was already finalized when I was brought in to do the front end, this was "+
"one of my first major websites that I developed the front-end for on my own, and I had a lot of fun "+
"with it!",
"ten.png", 
"desktop",
"Front-end",
"http://networktenmedia.com.au/",
"View Live"
)

+work-tile("Lamb Roast", "Lamb Roast is a timer App that was build for the Meat "+ 
"& Livestock Association Aus, it was the first App I worked on that was released "+
"to the App Store, and a bit of of a challenge illustrating the icons as I'm "+
"a vegetarian but I was happy with the result in the end! I also then got the "+
"opportunity to learn WatchKit for the Apple Watch App version. Unfortunately it's "+ 
"no longer on the App Store as it has evolved into RoastMate.",
"lambroast.png", 
"mobile",
"Front-end + Design + UX"
)

+work-tile("SteakMate Japan", "This was a super fun project, MLA contacted CLD to "+
"do a Japanese version of SteakMate to promote Aussie beef in Japan and I had "+
"complete freedom with the design. They wanted a 'Kawaii Australian' Theme "+
"so I came up with a Koala riding a piece of steak. I got to create all the animations as well!",
"steakmatejapan.png",
"mobile",
"Front-end + Design + UX + Animation",
"https://itunes.apple.com/jp/app/babimeito/id909283176?l=en&mt=8",
"Download from the App Store")
  video.work-mobile(src="/assets/img/work/steakmate-animation.mp4" autoplay loop)
  
  
footer.panel.block-navy
  #footer
    p.text-lg.amaranth Want to see more?
    p
      | Shoot me an email to get in touch,
      br
      | or view more of my work on dribbble!
  
    .block-lg
      a.footer-link(href="mailto:aarti.dcruz@gmail.com", target="_blank"): img(src="/assets/img/email.png")
      a.footer-link(href="http://dribbble.com/aartichokes", target="_blank"): img(src="/assets/img/dribbble.png")
      
    .divider
  
  .block-dark.block-lg
    p.text-sm This website was designed and built by me.
    p.text-sm Copyright &copy; 2016 Aarti D'Cruz. All Rights Reserved.
