include /templates/components/mixins

.bg-header.panel
  .intro-text.block-hor-lg#scene-1
    h1 Hi, hello
    h1.text-xl I'm Aarti

    p.breaker Product + brand design
    p.breaker Front-end tinkerer
    p.breaker Motion
    p.breaker Regular human
    
    .text-center.block-top-xl
      .skill
        img(src="/assets/img/design.svg")
      .skill
        img(src="/assets/img/code.svg")
      .skill
        img(src="/assets/img/motion.svg")
      .skill
        img(src="/assets/img/human.svg")
                
#about-me.section.panel
  .container.table
    .row.table-cell
      .col-sm-12.block-lg.text-left
        h2.text-xxl.title About me
        .about-me-desc
          p.text-md
            | I’m a digital/product designer + front end web dev who lives in London. 
            | Currently I'm working at 
            a(href="https://www.airtasker.com/" target="_blank") Airtasker 
            | as a Designer and CSS tinkerer. With my 4 years of experience 
            | working I’ve had the opportunity to learn how to create beautiful 
            | and practical interfaces, as well as coding with radtastic languages 
            | such as stylus, jsx, pug and react. I also enjoy illustration, 
            | and animation! In my spare time, I create music and watch terrible 
            | tv shows on netflix like a regular person.

            
+work-tile(
  "edapp.com",
  "edapp.com is a website to promote Ed LMS, another App created at Creative "+ 
  "Licence Digital. I was given the brief to improve the user experience of the "+ 
  "site and to encourage visitors to try out Ed. I designed and did the front "+
  "end for this website as well as the icons and creating the video in the header.",
  "edapp.png",
  "desktop",
  "Front-end + Design + UX",
  "http://www.edapp.com/",
  "View Live")

+work-tile("Network Ten Media Website", "This site was created for Network Ten, "+
"the brief was to re-design their internal media website and make it more user friendly. "+
"The inital look and feel was done by our Creative Director, and I was then brought in to flesh out the design and UX, as well as implementing the front-end. This was "+
"one of my first major websites that I developed the front-end for on my own, and I had a lot of fun "+
"with it!",
"ten.png", 
"desktop",
"Front-end",
"http://networktenmedia.com.au/",
"View Live"
)

+work-tile("Lamb Roast", "Lamb Roast is a timer App that was build for the Meat "+ 
"& Livestock Association Aus, it was the first App I worked on that was released "+
"to the App Store, and a bit of of a challenge illustrating the icons as I'm "+
"a vegetarian but I was happy with the result in the end! I also then got the "+
"opportunity to learn WatchKit for the Apple Watch App version. Unfortunately it's "+ 
"no longer on the App Store as it has evolved into RoastMate.",
"lambroast.png", 
"mobile",
"Front-end + Design + UX"
)

+work-tile("SteakMate Japan", "This was a super fun project, MLA contacted CLD to "+
"do a Japanese version of SteakMate to promote Aussie beef in Japan and I had "+
"complete freedom with the design. They wanted a 'Kawaii Australian' Theme "+
"so I came up with a Koala riding a piece of steak. I got to create all the animations as well!",
"steakmatejapan.png",
"mobile",
"Front-end + Design + UX + Animation",
"https://itunes.apple.com/jp/app/babimeito/id909283176?l=en&mt=8",
"Download from the App Store")
  video.work-mobile(src="/assets/img/work/steakmate-animation.mp4" autoplay loop)
  
.block-grey.panel.section.works.dribbble-works
  .container-fluid.block-lg
    h3 Other works
    ul.shots

      li.col-lg-4.col-sm-6: a(href="https://dribbble.com/shots/2231553-Hi-I-m-new-here-so-here-s-a-dinosaur-bopping-its-head", target="_blank")
        img(src="https://cdn.dribbble.com/users/933589/screenshots/2231553/dino-dance.gif" alt="Dino dance")      
      li.col-lg-4.col-sm-6: a(href="https://dribbble.com/shots/3141595-Aircon-2016-Logo", target="_blank")
        img(alt="Aircon 2016 Logo" src="https://d13yacurqjgara.cloudfront.net/users/933589/screenshots/3141595/aircon-tshirt2_1x.jpg")

      li.col-lg-4.col-sm-6: a(href="https://dribbble.com/shots/2687049-Donut-shoot-me", target="_blank")
        img(src="https://d13yacurqjgara.cloudfront.net/users/933589/screenshots/2687049/spacey5.gif" alt="Spacey5")

      li.col-lg-4.col-sm-6: a(href="https://dribbble.com/shots/2735715-Academy-Blog", target="_blank") 
        img(src="https://d13yacurqjgara.cloudfront.net/users/933589/screenshots/2735715/academy3.gif" alt="Academy3")

      li.col-lg-4.col-sm-6: a(href="https://dribbble.com/shots/2930286-Airtasker-Earn-Money-Illustrations", target="_blank") 
        img(src="https://d13yacurqjgara.cloudfront.net/users/933589/screenshots/2930286/earn-money-gif.gif" alt="Earn money gif")

      li.col-lg-4.col-sm-6: a(href="https://dribbble.com/shots/2490057-Thanks-for-subscribing", target="_blank") 
        img(alt="Thanks for subscribing!" src="https://d13yacurqjgara.cloudfront.net/users/933589/screenshots/2490057/thanks_1x.jpg")

      li.col-lg-4.col-sm-6: a(href="https://dribbble.com/shots/2577216-Desert-email-header", target="_blank") 
        img(alt="Desert email header" src="https://d13yacurqjgara.cloudfront.net/users/933589/screenshots/2577216/desert_1x.png")

      li.col-lg-4.col-sm-6: a(href="https://dribbble.com/shots/2764085-Do-you-even-npm-install", target="_blank") 
        img(alt="Do you even npm install?" src="https://d13yacurqjgara.cloudfront.net/users/933589/screenshots/2764085/do-you-even-npm2_1x.png")

      li.col-lg-4.col-sm-6: a(href="  https://dribbble.com/shots/3141583-Like-A-Boss", target="_blank") 
        img(alt="Like A Boss" src="https://d13yacurqjgara.cloudfront.net/users/933589/screenshots/3141583/lab-dribbble_1x.png")

footer.panel.block-navy
  #footer
    p.text-lg.amaranth Want to see more?
    p
      | Shoot me an email to get in touch,
      br
      | or view more of my work on dribbble/github!
  
    .block-lg
      a.footer-link(href="mailto:aarti.dcruz@gmail.com", target="_blank"): img(src="/assets/img/email.png")
      a.footer-link(href="http://dribbble.com/aartichokes", target="_blank"): img(src="/assets/img/dribbble.png")
      a.footer-link(href="http://github.com/aartidcruz/", target="_blank"): img(src="/assets/img/github.png")
      
    .divider
  
  .block-dark.block-lg
    p.text-sm This website was designed and built by me.
    p.text-sm Copyright &copy; 2017 Aarti D'Cruz. All Rights Reserved.
