include /components/mixins
include /components/logomark

#intro.section.panel.hero
  .container.table
    .row.table-cell
      .col-sm-12.block-lg
        h1 Hi, hello
        h1.text-xl I'm Aarti

        p.breaker Product + brand design
        p.breaker Front-end tinkerer
        p.breaker Motion
        p.breaker Regular human
        
        .text-center.block-top-xl
          .skill
            img(src="/assets/design.svg")
          .skill
            img(src="/assets/code.svg")
          .skill
            img(src="/assets/motion.svg")
          .skill
            img(src="/assets/human.svg")
                
#about-me.section.panel
  .container.table
    .row.table-cell
      .col-sm-12.block-lg.text-left
        h2.text-xxl.title About me
        .about-me-desc
          p.text-md
            | I’m a digital/product designer + front end web dev who lives in London. 
            | Currently I'm working at 
            a(href="https://www.airtasker.co.uk/" target="_blank") Airtasker 
            | as a Designer and CSS tinkerer. With my 4 years of experience 
            | working I’ve had the opportunity to learn how to create beautiful 
            | and practical interfaces, as well as coding with radtastic languages 
            | such as stylus, jsx, pug and react. I also enjoy illustration, 
            | and animation! In my spare time, I create music and watch terrible 
            | tv shows on netflix like a regular person.

            
+workTile(
  "Airtasker + IKEA",
  "Airtasker provided an assembly service for IKEA customers. This project needed a custom Airtasker post task flow that would be used in store on ipads at Airtasker kiosks.",
  "airtasker-ikea.jpg",
  "desktop",
  "Product + Brand + Kiosk design",
  "/airtasker-ikea")
  
+workTile(
  "Aircon",
  "Every year Airtasker has an offsite named Aircon where we review our year and look forward to the next year. I did the logo for 2016 using the concept that we’d really taken off this year.",
  "aircon.jpg",
  "desktop",
  "Logo design",
  "/aircon")
  
+workTile(
  "Airtasker ⃓ Product",
  "Airtasker provided an assembly service for IKEA customers. This project needed a custom Airtasker post task flow that would be used in store on ipads at Airtasker kiosks.",
  "airtasker-product.jpg",
  "desktop",
  "Product + Brand + Kiosk design",
  "/airtasker-product")
  
+workTile(
  "Airtasker ⃓ Brand",
  "Airtasker provided an assembly service for IKEA customers. This project needed a custom Airtasker post task flow that would be used in store on ipads at Airtasker kiosks.",
  "airtasker-brand.jpg",
  "desktop",
  "Product + Brand + Kiosk design",
  "/airtasker-product")
    
+workTile("Network Ten Media Website", "This site was created for Network Ten, "+
"the brief was to re-design their internal media website and make it more user friendly. "+
"The inital look and feel was done by our Creative Director, and I was then brought in to flesh out the design and UX, as well as implementing the front-end. This was "+
"one of my first major websites that I developed the front-end for on my own, and I had a lot of fun "+
"with it!",
"ten.jpg", 
"desktop",
"Front-end"
)
  
+workTile("edapp.com", 
"This site was created for Network Ten, "+
"edapp.com is a website to promote Ed LMS, another App created at Creative Licence Digital. I was given the brief to improve the user experience of the site and to encourage visitors to try out Ed. I designed and did the front end for this website as well as the icons and creating the video in the header.",
"edapp.jpg", 
"desktop",
"Front-end + Design + UX"
)

+workTile("Lamb Roast", "Lamb Roast is a timer App that was build for the Meat "+ 
"& Livestock Association Aus, it was the first App I worked on that was released "+
"to the App Store, and a bit of of a challenge illustrating the icons as I'm "+
"a vegetarian but I was happy with the result in the end! I also then got the "+
"opportunity to learn WatchKit for the Apple Watch App version. Unfortunately it's "+ 
"no longer on the App Store as it has evolved into RoastMate.",
"lambroast.png", 
"mobile",
"Front-end + Design + UX"
)

+workTile("SteakMate Japan", "This was a super fun project, MLA contacted CLD to "+
"do a Japanese version of SteakMate to promote Aussie beef in Japan and I had "+
"complete freedom with the design. They wanted a 'Kawaii Australian' Theme "+
"so I came up with a Koala riding a piece of steak. I got to create all the animations as well!",
"steakmatejapan.png",
"mobile",
"Front-end + Design + UX + Animation")
  video.work-mobile(src="/assets/work/steakmate-animation.mp4" autoplay loop)

include /components/footer
