include /components/_mixins
include /components/_logomark

#intro.section.panel.hero
  .container.table
    .row.table-cell
      .col-sm-12.block-lg
        h1 Hi, hello
        h1.text-xl I'm Aarti

        p#design-text.link-blue.breaker Product + visual design
        p#code-text.link-blue.breaker Front-end tinkerer
        p#motion-text.link-blue.breaker Motion
        p#human-text.link-blue.breaker Regular human
        
        #svg-animations.text-center.block-top-xl
          .skill
            #design-icon
          .skill
            #code-icon
          .skill
            #motion-icon
          .skill
            #human-icon
                
#about-me.section.panel
  .container.table
    .row.table-cell
      .col-sm-12.block-lg.text-left
        h2.text-xxl.title About me
        .about-me-desc
          p.text-md
            | I’m an Aussie product designer / dev living in London. 
            | Currently I'm at 
            a.link-pink(href="https://monzo.com/" target="_blank") Monzo&nbsp;
            | building a mobile bank 💪
            br
            br
            | I'm passionate about creating experiences that feel seamless, beautiful, and 
            i just work&nbsp;
            | - while balancing user / business needs.
            | I genuinley love bringing motion into my process to ensure I'm thinking about the whole picture
            | and being a fairly straightfoward person, you won't ever find me speaking in jargon-y design terms.
            | I'll bring the whole squad into design decisions (queue warm fuzzy feelings ❤️)
            br
            br
            | In my spare time, I create music in my bedroom, ride my bike around London's parks and watch terrible 
            | tv shows on netflix like a regular human 😎


+workTile(
  "Monzo",
  "I've worked on a variety of teams at Monzo, from making designers' lives better in the Design Platform team (building sketch libraries, a motion language etc) to working at making the overdrafts experience the best it could be for Monzo users. Case studies coming soon!",
  "monzo.jpg",
  "work-desktop",
  "Product + Motion + Brand",
  "",
  "COMING SOON")
  
+workTile(
  "Monzo motion language",
  "I developed a set of motion principles to help our product designers create UI elements that were cohesive",
  "motionlang.gif",
  "work-desktop",
  "Product + Motion",
  "",
  "READ ARTICLE",
  "https://blog.prototypr.io/defining-motion-principles-when-youve-never-done-it-before-ddb658f70777?source=friends_link&sk=1e6241a1b1c85e3ad8b7074ff95d4dba"
  )     
    
+workTile(
  "Airtasker + IKEA",
  "Airtasker did a trial assembly service for IKEA customers. We needed a solution that enabled shoppers in the IKEA store to easily post a task on the Airtasker platform. The solution had to be simple enough that they could leave the store with all the knowledge they needed to get their furniture assembled.",
  "airtasker-ikea.jpg",
  "work-desktop",
  "Product + Brand + Kiosk design",
  "airtasker-ikea")
  
+workTile(
  "Airtasker – Better Browsing",
  "Our browse tasks page hadn’t been redesigned in 3 years, we were updating other aspects of the site and decided to use this opportunity to research what was important to our Taskers when they searched for work.",
  "airtasker-browse.jpg",
  "work-desktop",
  "Product + Front-end",
  "airtasker-browse-tasks")
  
+workTile(
  "Airtasker – Global Sprint (Coupons)",
  "We conducted our first sprint in the UK, the global team came over from Australia and we sat down to discuss what what were the pain points we were facing after launch in the UK. My role was to support our UX researcher and provide prototypes.",
  "airtasker-coupons2.jpg",
  "work-desktop",
  "Product + Research",
  "airtasker-sprint-coupons")
  
+workTile(
  "Airtasker – Global Sprint (Increasing trust)",
  "We conducted our first sprint in the UK, the global team came over from Australia and we sat down to discuss what what were the pain points we were facing after launch in the UK. My role was to support our UX researcher and provide prototypes.",
  "airtasker-hub.jpg",
  "work-desktop",
  "Product + Research",
  "",
  "COMING SOON")
  
+workTile(
  "Aircon",
  "Every year Airtasker has an offsite named Aircon where we review our performance of that year and look ahead for the year to come. I designed the logo for 2016 with the idea that we'd had a massive year and had really taken off.",
  "aircon.jpg",
  "work-desktop",
  "Logo design",
  "aircon")
  
+workTile(
  "Airtasker – Brand",
  'My two years at Airtasker consisted of both digital and product design, as well as front end development. I was lucky to work on some great projects as a brand designer - including Like a Boss campaign, helping with the launch in London, and building out better SEO pages for the UK team.',
  "airtasker-brand.jpg",
  "work-desktop",
  "Brand + Front-end",
  "airtasker-brand")
    
+workTile("Network Ten Media Website", 
"A re-design of the Network Ten media website - this involved front-end for the whole site inluding creating a style-guide.",
"ten.jpg", 
"work-desktop",
"Front-end"
)
  
+workTile("edapp.com", 
"edapp.com is a website to promote Ed LMS, an App created at Creative Licence Digital. I was given the brief to improve the user experience of the site and to encourage visitors to try out Ed. I designed and did the front end for this website as well as the icons and creating the video in the header.",
"edapp.jpg", 
"work-desktop",
"Front-end + Design + UX"
)

//- +workTile("Lamb Roast", 
//- "Lamb Roast is a timer App that was build for the Meat & Livestock Association Aus, it included learning WatchKit to do the front-end for it's partner watch app.",
//- "lambroast.svg", 
//- "work-mobile svg",
//- "Front-end + Design + UX"
//- )

+workTile("SteakMate Japan", 
'A super fun project to create a "kawaii" steak timer for MLA Japan. This included designing for the Japanese market in terms of UI as well as style.',
"steakmatejapan.png",
"work-mobile",
"Front-end + Design + UX + Animation")
  video#steaky-video.work-mobile(src="assets/work/steakmate-animation.mp4" muted autoplay loop)

include /components/_footer
