include /components/mixins
include /components/logomark

#intro.section.panel.hero
  .container.table
    .row.table-cell
      .col-sm-12.block-lg
        h1 Hi, hello
        h1.text-xl I'm Aarti

        p#design-text.link-blue.breaker Product + brand design
        p#code-text.link-blue.breaker Front-end tinkerer
        p#motion-text.link-blue.breaker Motion
        p#human-text.link-blue.breaker Regular human
        
        .text-center.block-top-xl
          .skill
            #design-icon
          .skill
            #code-icon
          .skill
            #motion-icon
          .skill
            #human-icon
                
#about-me.section.panel
  .container.table
    .row.table-cell
      .col-sm-12.block-lg.text-left
        h2.text-xxl.title About me
        .about-me-desc
          p.text-md
            | I’m a Designer / web dev who lives in London. 
            | Currently I'm working at 
            a.link-pink(href="https://www.airtasker.co.uk/" target="_blank") Airtasker&nbsp;
            | as a Designer and Dev on the UK launch team. With my 5 years of experience -
            | I’ve had the opportunity to learn how to create beautiful and practical experiences,
            | with design and lanugages such as stylus, pug, and react. 
            | I also enjoy working with animation and am super interested in making interactive projects!
            | In my spare time, I create music and watch terrible 
            | tv shows on netflix like a regular human.

          p.text-md Current side project: Monsta Jamz - Interactive svg jam jar monsters. Each jam monsta has a different instrument and when you click on one it'll start playing!

            
+workTile(
  "Airtasker + IKEA",
  "Airtasker provided an assembly service for IKEA customers. This project needed a custom Airtasker post task flow that would be used in store on ipads at Airtasker kiosks.",
  "airtasker-ikea.jpg",
  "work-desktop",
  "Product + Brand + Kiosk design",
  "/airtasker-ikea")
  
+workTile(
  "Aircon",
  "Every year Airtasker has an offsite named Aircon where we review our year and look forward to the next year. I did the logo for 2016 using the concept that we’d really taken off this year.",
  "aircon.jpg",
  "work-desktop",
  "Logo design",
  "/aircon")
  
+workTile(
  "Airtasker  ⃓ Product",
  "My two years at Airtasker include digital, product design and front end development. I was lucky enough to  have eperienced a few teams as a product designer - partnerships, payments and global - which enabled me to move to London to help launch Airtasker internationally.",
  "airtasker-product.jpg",
  "work-desktop",
  "Product + Front-end",
  "/airtasker-product")
  
+workTile(
  "Airtasker  ⃓ Brand",
  'I started as a brand designer at Airtasker, and got to work on a lot of great projects including helping launch our first ad campaign "Like a Boss".',
  "airtasker-brand.jpg",
  "work-desktop",
  "Brand + Front-end",
  "/airtasker-brand")
    
+workTile("Network Ten Media Website", 
"A re-design of the Network Ten media website - this involved front-end for the whole site inluding creating a style-guide.",
"ten.jpg", 
"work-desktop",
"Front-end"
)
  
+workTile("edapp.com", 
"edapp.com is a website to promote Ed LMS, an App created at Creative Licence Digital. I was given the brief to improve the user experience of the site and to encourage visitors to try out Ed. I designed and did the front end for this website as well as the icons and creating the video in the header.",
"edapp.jpg", 
"work-desktop",
"Front-end + Design + UX"
)

+workTile("Lamb Roast", 
"Lamb Roast is a timer App that was build for the Meat & Livestock Association Aus, it included learning WatchKit to do the front-end for it's partner watch app.",
"lambroast.svg", 
"work-mobile svg",
"Front-end + Design + UX"
)

+workTile("SteakMate Japan", 
'A super fun project to create a "kawaii" steak timer for MLA Japan. This included designing for the japanese market in terms of UI as well as style.',
"steakmatejapan.png",
"work-mobile",
"Front-end + Design + UX + Animation")
  video#steaky-video.work-mobile(src="assets/work/steakmate-animation-a.mp4" autoplay loop)

include /components/footer
