.bg-lt-blue
  background-color #dff2f7
  clear both

.section
  position: relative

.center
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  width 100%

.table
  display table

.hide
  display none

.table-cell
  display table-cell
  vertical-align middle

.tight
  padding: 0 !important