@font-face 
  font-family: 'alice'
  src: url('/assets/fonts/Alice-Regular.eot')
  src: url('/assets/fonts/Alice-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Alice-Regular.woff2') format('woff2'),
       url('/assets/fonts/Alice-Regular.woff') format('woff'),
       url('/assets/fonts/Alice-Regular.ttf') format('truetype'),
       url('/assets/fonts/Alice-Regular.svg#Gudea-Regular') format('svg')
  font-weight: normal
  font-style: normal

@font-face 
  font-family: 'rancho'
  src: url('/assets/fonts/Rancho-Regular.eot')
  src: url('/assets/fonts/Rancho-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Rancho-Regular.woff') format('woff'),
       url('/assets/fonts/Rancho-Regular.ttf') format('truetype'),
       url('/assets/fonts/Rancho-Regular.svg#Rancho-Regular') format('svg')
  font-weight: normal
  font-style: normal

.alice
  font-family: 'alice'

.gudea
  font-family: 'gudea'
  