span I
span '
span m
span &nbsp;
span a
span &nbsp;
span g
span i
span r
span l
span ,
span &nbsp;
span w
span h
span o
span &nbsp;
span a
span l
span s
span o
span &nbsp;
span h
span a
span p
span p
span e
span n
span s
span &nbsp;
span t
span o
span &nbsp;
span d
span e
span s
span i
span g
span n
span &nbsp;
span a
span n
span d
span &nbsp;
span c
span o
span d
span e.
