@charset "utf-8"

@import 'reset'

// BASE STYLES
@import 'base/fonts'
@import 'base/mixins'
@import 'base/colors'
@import 'base/common'
@import 'base/typography'

// COMPONENTS
@import 'components/variables'
@import 'components/top-nav'
@import 'components/grid-cols'
@import 'components/grid-rows'
@import 'components/grid'
@import 'components/owl'
@import 'components/owl-theme'
@import 'components/svg'

// VIEWS
@import 'views/home'



