html,
body
  height 100%
  
body
  margin 0
  padding 0
  width 100%
  font-size 1.2em
  line-height 1.5
  font-family 'Alegreya Sans', sans-serif
  color #515151
  font-weight normal
  text-align center
  -webkit-font-smoothing anti-aliased
  &.loaded
    overflow-y: auto
    
  .border-top,
  .border-right,
  .border-left,
  .border-bottom
    position fixed 
    background-color white
    z-index 10
    
  .border-top
    left 0
    right 0
    top 0
    height 10px 
    
  .border-right
    right 0
    bottom 0
    width 10px 
    top 0
  
  .border-left
    left 0
    width 10px 
    bottom 0
    top 0
    
  .border-bottom
    bottom 0
    left 0
    right 0
    height 10px 
    
.section
  height 100%
  @media screen and (max-width 768px)
    height auto
  
