html,
body
  height 100%

body
  margin 0
  padding 0
  width 100%
  font-size 1.2em
  line-height 1.5
  font-family 'Alegreya Sans', sans-serif
  color #2c3a48
  font-weight normal
  text-align center
  -webkit-font-smoothing anti-aliased
  box-sizing border-box
  &.loaded
    overflow-y: auto

  a
    text-decoration none
    color transparentify(#2c3a48, 0.3)
    -webkit-transition all 400ms
    -moz-transition all 400ms
    -o-transition all 400ms
    transition all 400ms

    &:hover
      text-decoration none
      color #2c3a48
      

.cubic-bezier
  -webkit-transition all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000)
  -moz-transition all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000)
  -o-transition all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000)
  transition all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000) /* easeInOutCubic */

  -webkit-transition-timing-function cubic-bezier(0.645, 0.045, 0.355, 1.000)
  -moz-transition-timing-function cubic-bezier(0.645, 0.045, 0.355, 1.000)
  -o-transition-timing-function cubic-bezier(0.645, 0.045, 0.355, 1.000)
  transition-timing-function cubic-bezier(0.645, 0.045, 0.355, 1.000) /* easeInOutCubic */

