- var prevURL = "aircon"
- var nextURL = "airtasker-brand"
include /components/_logomark
include /components/_nav

.work-project
  .hero
    .container.table
      .row.table-cell
        .col-sm-12.block-lg
          h1 Airtasker  ⃓ Product
          p.subtitle.text-lg
            | My two years at Airtasker consisted of both digital and product design, as well as front end development. I was lucky enough to  have eperienced a few teams as a product designer - partnerships, payments and global - which enabled me to move to London to help launch Airtasker internationally.

          p.breaker Product design
          p.breaker Front-end

  .border
  
  .block-xl
    h3.blue Browse tasks redesign
    p.page-subtitle Our browse tasks page hadn’t been redesigned in 3 years, we were starting update other aspects of the site and decided to finally update our UI to match.
    p.breaker User research
    p.breaker UI design
    
  h3.blue Research
  .project-text
    p We conducted user research sessions where we asked our Taskers what information was important to them in their feed, how did they look for work? What information was most important when looking through the feed?
    P With this in mind I updated the browse task information cards to include the full title of the task, as well as the due date. Less emphasis was placed on the avatar as these details were not so important to our users. Adding the due date was also incredibly useful to help our Taskers quickly plan which tasks they were free to complete. 
  
  .block-ver-xl
    p.text-md.blue Old UI
    img.biggish-image.block-ver-lg.shadow(src="/assets/airtasker-product/browse-tasks-old.jpg")
  
  .block-ver-xl
    p.text-md.blue New browse tasks cards
    img.biggish-image.block-ver-lg.shadow(src="/assets/airtasker-product/browse-tasks-new.jpg")
  
  .block-ver-xl
    p.text-md.blue New my tasks cards
    img.biggish-image.block-ver-lg.shadow(src="/assets/airtasker-product/my-tasks-new.jpg")
  
  .block-ver-xl
    p.text-md.blue All task states
    img.biggish-image.block-ver-lg.shadow(src="/assets/airtasker-product/task-states.jpg")

  .border
  
  .block-xl
    h3.blue Input field and error messages
    p.page-subtitle Redesign of our input fields and error messages to make them more in line with the updated design language.


include /components/_footer
