- var prevURL = "airtasker-ikea"
- var nextURL = "airtasker-sprint-coupons"
include /components/_logomark
include /components/_nav

.work-project
  .hero
    .container.table
      .row.table-cell
        .col-sm-12.block-lg
          h1 Airtasker  ⃓ Better browsing
          p.subtitle.text-lg
            | Our browse tasks page hadn’t been redesigned in 3 years, we were updating other aspects of the site and decided to use this opportunity to research what was important to our Taskers when they searched for work.
          p.breaker User research
          p.breaker UI design
          
  h3.blue.block-ver-md Our goal
  .container-sm.text-left
    p.text-md.block-ver-md.breaker-point Find what was important to our Taskers - help them quickly find tasks relevant to them
    p.text-md.block-ver-md.breaker-point Include new badging tasks - make it clear there are requirements for these tasks

  .block-xl
    h3.blue Research
    .container-sm.text-left
      p.text-md.block-ver-md.breaker-point How did our Taskers look for work?
      p.text-md.block-ver-md.breaker-point What was important to them while browsing?
      p.text-md.block-ver-md.breaker-point Were there any pain points, was anything missing?

  h3.blue Findings after testing
  .container-sm.text-left
    p.text-md.block-ver-md.breaker-point Amount of offers would play a role in whether they would offer on a task, but not comments
    p.text-md.block-ver-md.breaker-point Often wished they could see the due date to quickly organise calendar
    p.text-md.block-ver-md.breaker-point Happy to scroll through the feed, fear of missing out on a good task was high

  .block-ver-xl
    p.text-md.blue Old UI
    img.biggish-image.block-ver-lg.shadow(src="/assets/airtasker-browse/browse-tasks-old.jpg")
  
  .block-ver-xl
    p.text-md.blue New browse tasks cards
    img.biggish-image.block-ver-lg.shadow(src="/assets/airtasker-browse/browse-tasks-new.jpg")
  
  .block-ver-xl
    p.text-md.blue New my tasks cards
    img.biggish-image.block-ver-lg.shadow(src="/assets/airtasker-browse/my-tasks-new.jpg")
  
  .block-ver-xl
    p.text-md.blue All task states
    img.biggish-image.block-ver-lg.shadow(src="/assets/airtasker-browse/task-states.jpg")
    
  .block-xl
    h3.blue Solution
    .container-sm.text-left
      p.text-md.block-ver-md.breaker-point Show the full task title
      p.text-md.block-ver-md.breaker-point Show the due date
      p.text-md.block-ver-md.breaker-point Make sure badged tasks are clearly displayed
      p.text-md.block-ver-md.breaker-point Update UI to match the current styleguide
      p.text-md.block-ver-md.breaker-point Less emphasis on avatar
      p.text-md.block-ver-md.breaker-point Colour code tasks to help Taskers easily distinguish the state of their task

include /components/_footer
