- var prevURL = "airtasker-brand"
- var nextURL = "aircon"
include /components/_logomark
include /components/_nav

.work-project
  .hero
    .container.table
      .row.table-cell
        .col-sm-12.block-lg
          h1 Airtasker + IKEA
          p.subtitle.text-lg
            | Airtasker provided an assembly service for IKEA customers. 
            | This project needed a custom Airtasker post task flow that would 
            | be used in store on ipads at Airtasker kiosks.

          p.breaker Product design
          p.breaker Brand design
          p.breaker Kiosk design

  .biggy-image.kiosk-1
  img.mediumy-image.block-ver-xl(src="/assets/airtasker-ikea/shirts.png")
  .biggy-image.kiosk-2

  .container-fluid
    .row
      .col-sm-6.block-lg
        img.smol-image(src="/assets/airtasker-ikea/kiosk-sm-1.jpg")
      .col-sm-6.block-lg
        img.smol-image(src="/assets/airtasker-ikea/kiosk-sm-2.jpg")
      
  .biggy-image.kiosk-3
  
  .block-xl
    h3.blue Product flow
    a.link-pink.block-ver-md(href="/" target="_blank") View on invision
    img.mediumy-image.shadow.img-block(src="/assets/airtasker-ikea/ipad.png")

include /components/_footer
