- var prevURL = "airtasker-aircon"
- var nextURL = "airtasker-ikea"
include /components/_logomark
include /components/_nav

.work-project
  .hero
    .container.table
      .row.table-cell
        .col-sm-12.block-lg
          h1 Airtasker  ⃓ Brand
          p.subtitle.text-lg
            | My two years at Airtasker consisted of both digital and product design, as well as front end development. I was lucky to work on some great projects as a brand designer - including Like a Boss campaign, helping with the launch in London, and building out better SEO pages for the UK team.

          p.breaker Brand design
          p.breaker Front-end


  .block-xl
    h3.blue Like a Boss campaign
    p.page-subtitle Print + Landing page for the launch of our first advertising campaign.
    a.link-pink View live

  img.mediumy-image.shadow(src="/assets/airtasker-brand/like-a-boss.jpg")
  img.bigger-image.shadow.block-ver-xl(src="/assets/airtasker-brand/like-a-boss-ads.png")
  


  .block-xl
    h3.blue HUB pages in the UK
    p.page-subtitle This was a massive project to make our category SEO pages in the UK more user friendly and generate more posted tasks on the platform. The performance of these pages was 3 times better than our old SEO pages in the UK.
    a.link-pink(href='http://airtasker.co.uk/gardening-help' target="_blank") View live

include /components/_footer
