- var prevURL = "airtasker-ikea"
- var nextURL = "aircon"
include /components/_logomark
include /components/_nav

.work-project
  .hero
    .container.table
      .row.table-cell
        .col-sm-12.block-lg
          h1 Airtasker  ⃓ Sprinting (Coupons)
          p.subtitle.text-lg
            | We conducted our first sprint in the UK, the global team came over from Australia and we sat down to discuss what what were the painpoints we were facing after launch in the UK. My role was to support our UX researcher and provide prototypes.
          p.breaker Product design
          p.breaker Research

  h3.blue.block-ver-md The problem
  .container-sm.text-left
    p.text-md.block-ver-md.breaker-point Why weren’t our coupons being used?
    p.text-md.block-ver-md.breaker-point What were the painpoints our users were experienceing during our coupon flow?

  .block-xl
    h3.blue The current solution
    p.page-subtitle The add coupon option only appeared after you added payment details
    .container-fluid
      .row
        .col-sm-6.block-lg
          img.smol-image.shadow(src="/assets/airtasker-sprint-coupons/current-1.jpg")
        .col-sm-6.block-lg
          img.smol-image.shadow(src="/assets/airtasker-sprint-coupons/current-2.jpg")
            
  .block-xl
    h3.blue Research
    p.page-subtitle We gave users a physical coupon and observed how they would use the coupons to post their first task, we grouped our findings below
    img.bigger-image.block-lg(src="/assets/airtasker-sprint-coupons/research.png")
    
    p.text-md.blue.block-ver-lg How might we
    .container-sm.text-left
      p.text-md.block-ver-md.breaker-point Reduce the "constant question" around when the coupon will be used
      p.text-md.block-ver-md.breaker-point Reduce anxiety around the payment taken from a personal account before realising the value of Airtasker
      p.text-md.block-ver-md.breaker-point Reduce the length of realising the value/delight of the coupon
  
  .block-xl
    h3.blue Iterations
    p.page-subtitle I tried a few versions trying to satisfy our how might we’s - which we then tested again on our users
    img.bigger-image.block-lg(src="/assets/airtasker-sprint-coupons/research.png")
    
        
include /components/_footer
