- var prevURL = "monzo-overdrafts"
- var nextURL = "airtasker-ikea"
include /components/_logomark
include /components/_nav

.work-project
  .hero
    .container.table
      .row.table-cell
        .col-sm-12.block-lg
          h1 Monzo — Helping people user their overdrafts less
          p.subtitle.text-lg
            | On the back of a vision piece I had written to determine the future of overdrafts at Monzo, I conducted a design sprint to kick off what this would look like. We came up with a solution to help our customers slowly get out of their overdraft, something that would be incredibly useful for customers in need of financial help.
          p.breaker Design
          p.breaker Strategy
          p.breaker Research

  .biggy-image.usage-1
  .block-ver-xl

  h3.blue.block-ver-md The problem
  .container-sm.text-left
    p.text-md.block-ver-md 
      | We had noticed a pattern that our customers were currently self managing their overdraft use by changing their limit, this wasn't ideal for them and would sometimes lead to them losing the available credit they relied on. We needed to fix this and we wanted to work on something that was good for our customers, something that we'd seen in research and from talking to them that they would benefit from. 

  .block-xl
    .container-sm
      h3.blue.block-ver-md The design sprint
      p.page-subtitle 
        | I conducted a remote friendly design sprint using 
        a.link-pink(href="https://whimsical.com/", target="_blank") Whimsical 
        |  where we mapped out our ideal user journey, asked various experts from user research, 
        | customer operations, data, and product to form our solution, did rapid sketching, and a final storyboard to shape our solution
        
      img.mediumy-image(src="/assets/monzo-usage-goals/whimsical.jpg")
      p.text-md.block-ver-md Our mission statement for our design sprint was:
      
      p.text-lg.block-ver-md.blue Monzo overdrafts don't make me feel anxious and I feel in control of my finances, confident in using it, transparent while i'm using it, and it helps me manage it down
      
        
            
  .block-xl
    h3.blue.block-ver-md Concept testing results
    p.page-subtitle 
      | We concept tested a prototype with our customers after the design sprint to first see if there was a need for usage goals, and if the concept was easily understood, here's what we learnt:
    .container-fluid
      .row
        .col-sm-3.block-lg
          .card.block-ver-lg
            p.emoji 🥅
            p.text-md People are already trying to self manage manually in our app which isn't ideal
        
        .col-sm-3.block-lg
          .card.block-ver-lg
            p.emoji 😄
            p.text-md Everyone reacted positively and instantly understood the problem it would help them solve
          
        .col-sm-3.block-lg
          .card.block-ver-lg
            p.emoji 📅
            p.text-md Seeing how many months it would take to clear their overdraft was key for most
        
        .col-sm-3.block-lg
          .card.block-ver-lg
            p.emoji 🤝
            p.text-md People's expectations for the functionality of how it would work matched our own
                          
        

  .block-xl
    h3.blue The vision
    p.page-subtitle Key areas and themes that would shape how to help customers use their overdraft less based on our testing results and research
    .container-fluid.block-ver-xl
      .row
        .Aligner
          .Aligner-item
            img.smol-image(src="/assets/monzo-usage-goals/usage-goals-1.png")
          .Aligner-item.aligner-right
            h3.blue.block-ver-md Easy to see time based plan
            p.block-ver-md
              | Showing customers a "light at the end of the tunnel" was key in helping understand the concept and feel motivation to actually stick to a plan
    
    .container-fluid.block-ver-xl
      .row
        .Aligner
          .Aligner-item
            img.smol-image(src="/assets/monzo-usage-goals/usage-goals-2.png")
          .Aligner-item.aligner-right
            h3.blue.block-ver-md Insights into usage
            p.block-ver-md
              | Showing comparisons with their previous usage and insights into how customers use their overdraft will help educate and surface spending behaviours

    .container-fluid.block-ver-xl
      .row
        .Aligner
          .Aligner-item
            img.smol-image(src="/assets/monzo-usage-goals/usage-goals-3.png")
          .Aligner-item.aligner-right
            h3.blue.block-ver-md Encouragement, gamification principles
            p.block-ver-md
              | Using gamification principles, showing milestones, and reward is important with this project
                  
    .container-fluid.block-ver-xl
      .row
        .Aligner
          .Aligner-item
            img.smol-image.pixel(src="/assets/monzo-usage-goals/usage-goals-4.gif")
          .Aligner-item.aligner-right
            h3.blue.block-ver-md Celebrating & rewarding good behaviour
            p.block-ver-md
              | Adding moments of delight when you pay off your overdraft, or stick to a goal can be a great way of encouragement
                            

include /components/_footer
