percentage($n)
  if $n == 0
    0
  else
    unit($n * 100, "%")

clearfix()
  &:before,
  &:after
    content " " // 1
    display table // 2

  &:after
    clear both

.clearfix
  clearfix()

transition(transition)
  -webkit-transition transition
  -moz-transition transition
  -ms-transition trznsition
  -o-transition transition
  transition transition

filter($filter)
  filter $filter
  -webkit-filter $filter

transform($transform...)
  -webkit-transform $transform
  -moz-transform $transform
  -ms-transform $transform
  -o-transform $transform
  transform $transform


transition-timing-function($timing...)
  -webkit-transition-timing-function $timing
  -moz-transition-timing-function $timing
  -o-transition-timing-function $timing
  transition-timing-function $timing

animation($str)
  -webkit-animation $str
  -moz-animation $str
  -ms-animation $str
  -o-animation $str
  animation $str

animation-delay($delay)
  -webkit-animation-delay $delay
  -moz-animation-delay $delay
  -ms-animation-delay $delay
  -o-animation-delay $delay
  animation-delay $delay

box-shadow($shadow...)
  -webkit-box-shadow $shadow
  -moz-box-shadow $shadow
  box-shadow $shadow

box-sizing($box)
  -webkit-box-sizing $box
  -moz-box-sizing $box
  box-sizing $box

make-block($size, $padding)
  .block-hor-{$size}
    padding-left $padding
    padding-right $padding

  .block-ver-{$size}
    padding-top $padding
    padding-bottom $padding

  .block-{$size}
    padding $padding

make-block(xl, 64px)
make-block(lg, 20px)
make-block(md, 8px)
make-block(sm, 4px)

linearGradient($top, $bottom)
  background $top
  background -moz-linear-gradient(top,  $top 0%, $bottom 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom))
  background -webkit-linear-gradient(top,  $top 0%,$bottom 100%)
  background -o-linear-gradient(top,  $top 0%,$bottom 100%)
  background -ms-linear-gradient(top,  $top 0%,$bottom 100%)
  background linear-gradient(to bottom,  $top 0%,$bottom 100%)
  // filter progidDXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0)
