.hero
  color $blue

.shadow
  filter(drop-shadow(6px 12px 7px rgba(44,58,72,0.34)))

.breaker
  display inline-block
  padding-top 40px
  &:after
    content ''
    background-image url('../assets/breaker.svg')
    background-repeat no-repeat
    background-size 100% 100%
    width auto
    height 12px
    display inline-block
    padding 0 37px
  &:last-of-type
    &:after
      content none
  &.breaker-single
    &:before,
    &:after
      content ''
      background-image url('../assets/breaker.svg')
      background-repeat no-repeat
      background-size 100% 100%
      width auto
      height 12px
      display inline-block
      padding 0 37px

.section
  position relative
  height 100%
  @media screen and (max-width: 1025px)
    height auto

.block
  display block

.center
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  width 100%

.table
  display table

.hide
  display none

.table-cell
  display table-cell
  vertical-align middle

.tight
  padding: 0 !important

.panel
  padding 64px 0
