/**
 * @license
 * My../fonts Webfont Build ID 3590934, 2018-06-03T13:13:35-0400
 *
 * The ../fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Web../fonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: BrandonGrotesqueWeb-Black by HVD ../fonts
 * URL: https://www.my../fonts.com/../fonts/hvd../fonts/brandon-grotesque/black/
 *
 * Webfont: BrandonGrotesqueWeb-Medium by HVD ../fonts
 * URL: https://www.my../fonts.com/../fonts/hvd../fonts/brandon-grotesque/medium/
 *
 *
 * License: https://www.my../fonts.com/viewlicense?type=web&buildid=3590934
 * Licensed pageviews: 10,000
 * Web../fonts copyright: Copyright (c) 2015 by Hannes von Doehren. All rights reserved.
 *
 * © 2018 My../fonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */

@font-face
  font-family $bold
  src url('../fonts/brandon-black.eot')
  src:
    url('../fonts/brandon-black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/brandon-black.woff2') format('woff2'),
    url('../fonts/brandon-black.woff') format('woff'),
    url('../fonts/brandon-black.ttf') format('truetype')
  font-style normal
  font-weight normal

@font-face
  font-family $normal
  src url('../fonts/brandon-medium.eot')
  src:
    url('z/brandon-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/brandon-medium.woff2') format('woff2'),
    url('../fonts/brandon-medium.woff') format('woff'),
    url('../fonts/brandon-medium.ttf') format('truetype')
  font-style normal
  font-weight normal


.bold
	font-family $bold

.normal
	font-family $normal
