@charset "utf-8"

@import '_reset'
@import 'components/_variables'

// BASE STYLES
@import 'base/_fonts'
@import 'base/_mixins'
@import 'base/_common'
@import 'base/_typography'

// COMPONENTS
@import 'components/_grid-rows'
@import 'components/_grid-cols'
@import 'components/_grid'
@import 'components/_nav'
@import 'components/_footer'

// VIEWS
@import 'views/_home'
@import 'views/_work-project'
