html,
body
  height: 100%

body
  box-sizing: border-box
  color: #2c3a48
  font-family 'BrandonGrotesqueWeb-Medium'
  font-weight: normal
  font-size 1.2em
  line-height 1.5
  margin 0
  padding 0
  text-align center
  width 100%
  -webkit-font-smoothing anti-aliased
  &.loaded
    overflow-y: auto
